In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score, accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Read the CSV and Perform Basic Data Cleaning

In [5]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [6]:
# Load the data
file_path = Path('/content/drive/MyDrive/Colab Notebooks/Data Bootcamp/Module 17 /Challenge/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [7]:
df_encoded = pd.get_dummies(df, columns=["home_ownership",
                                            "verification_status",
                                            "pymnt_plan",
                                            "application_type",
                                            "hardship_flag",
                                            "debt_settlement_flag",
                                            "initial_list_status",
                                            "next_pymnt_d"])

months = {
    'Jan-2019': 1,
    'Feb-2019': 2,
    'Mar-2019':3
}

df_encoded["issue_d_num"] = df_encoded["issue_d"].apply(lambda x: months[x])

df_encoded = df_encoded.drop(["issue_d"], axis=1)

df_encoded.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,pymnt_plan_n,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,issue_d_num
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,1,0,1,0,1,3
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,1,0,1,0,1,3
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,1,0,1,0,1,3
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,1,0,1,0,1,3
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,1,0,1,0,1,3

# Split the Data into Training and Testing

In [8]:
# Create our features
X = df_encoded.drop('loan_status',1)

# Create our target
y = pd.DataFrame(df_encoded['loan_status'])

In [9]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,pymnt_plan_n,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,issue_d_num
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.0,68817.000000,68817.000000,68817.0,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,1.0,0.860340,0.139660,1.0,1.0,0.123879,0.876121,0.383161,0.616839,1.726172
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.0,0.346637,0.346637,0.0,0.0,0.329446,0.329446,0.486161,0.486161,0.743862
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,1.0,0.000000,0.000000,1.0,1.0,0.000000,0.000000,0.000000,0.000000,1.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,1.0,1.000000,0.000000,1.0,1.0,0.000000,1.000000,0.000000,0.000000,1.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,1.0,1.000000,0.000000,1.0,1.0,0.000000,1.000000,0.000000,1.000000,2.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.0,1.000000,0.000000,1.0,1.0,0.000000,1.000000,1.000000,1.000000,2.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.0,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000,3.000000

In [10]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [12]:
!pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (0.24.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [13]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
balanced = BalancedRandomForestClassifier(n_estimators=100,random_state = 1).fit(X_train, y_train)

In [14]:
# Calculated the balanced accuracy score
y_pred = balanced.predict(X_test)
bacc = (balanced_accuracy_score(y_test, y_pred))
acc = accuracy_score(y_test,y_pred)
print('Balanced Accuracy Score: ' + str(round(bacc, 4)))
print('Accuracy Score: ' + str(round(acc, 4)))

Balanced Accuracy Score: 0.7615
Accuracy Score: 0.8684

In [15]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   66,    35],
       [ 2230, 14874]])

In [16]:
cmtx = pd.DataFrame(
    confusion_matrix(y_test, y_pred, labels=['high_risk', 'low_risk']), 
    index=['Actual High Risk', 'Actual Low Risk'], 
    columns=['Predicted High Risk', 'Predicted Low Risk']
    )
print(cmtx)

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   66                  35
Actual Low Risk                  2230               14874

In [17]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.65      0.87      0.06      0.75      0.56       101
   low_risk       1.00      0.87      0.65      0.93      0.75      0.58     17104

avg / total       0.99      0.87      0.65      0.92      0.75      0.58     17205

In [25]:
print('Balanced Random Forest Classifier')
print('')
print('Balanced Accuracy Score: ' + str(round(bacc, 4)))
print('Accuracy Score: ' + str(round(acc, 4)))
print('')
print(cmtx)
print('')
print(classification_report_imbalanced(y_test, y_pred))

Balanced Random Forest Classifier

Balanced Accuracy Score: 0.7615
Accuracy Score: 0.8684

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   66                  35
Actual Low Risk                  2230               14874

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.65      0.87      0.06      0.75      0.56       101
   low_risk       1.00      0.87      0.65      0.93      0.75      0.58     17104

avg / total       0.99      0.87      0.65      0.92      0.75      0.58     17205

In [18]:
# List the features sorted in descending order by feature importance
features = balanced.feature_importances_
sorted(zip(features, X.columns), reverse=True)

[(0.07632202168694453, 'total_rec_prncp'),
 (0.0581069804038416, 'total_rec_int'),
 (0.05648159451080443, 'last_pymnt_amnt'),
 (0.0558149776088619, 'total_pymnt_inv'),
 (0.049686879758249744, 'total_pymnt'),
 (0.029667796551397632, 'int_rate'),
 (0.02620107532604457, 'issue_d_num'),
 (0.02113992088194085, 'mths_since_recent_inq'),
 (0.01860519442003772, 'dti'),
 (0.01759332369508704, 'installment'),
 (0.017393211072182172, 'total_bc_limit'),
 (0.016367590098591393, 'mo_sin_old_rev_tl_op'),
 (0.015770712149697937, 'out_prncp_inv'),
 (0.015651655514843432, 'out_prncp'),
 (0.015527891193631304, 'revol_bal'),
 (0.015358776583806324, 'mths_since_rcnt_il'),
 (0.014093972547545098, 'max_bal_bc'),
 (0.01402280161041999, 'il_util'),
 (0.01398865152425114, 'annual_inc'),
 (0.01392787032246454, 'avg_cur_bal'),
 (0.013915806563159938, 'bc_open_to_buy'),
 (0.013715993096666892, 'total_bal_ex_mort'),
 (0.013522474946434404, 'tot_hi_cred_lim'),
 (0.013455588046686973, 'all_util'),
 (0.013130284693849262, 'mths_since_recent_bc'),
 (0.013087499555045892, 'total_il_high_credit_limit'),
 (0.01267897064619703, 'tot_cur_bal'),
 (0.012642674037025303, 'total_rev_hi_lim'),
 (0.012586738755947182, 'mo_sin_old_il_acct'),
 (0.012505913560796151, 'loan_amnt'),
 (0.012038662342559299, 'bc_util'),
 (0.011989528833459882, 'total_acc'),
 (0.011950568835725981, 'total_bal_il'),
 (0.0112913630290341, 'pct_tl_nvr_dlq'),
 (0.010766791440864745, 'mo_sin_rcnt_rev_tl_op'),
 (0.010449390514013916, 'inq_last_12m'),
 (0.010186821450947863, 'num_sats'),
 (0.009931190549145638, 'num_rev_accts'),
 (0.009916867903460419, 'total_rec_late_fee'),
 (0.009469657830254446, 'num_rev_tl_bal_gt_0'),
 (0.009064476986568771, 'num_bc_tl'),
 (0.008987522085713788, 'num_op_rev_tl'),
 (0.008987175274159315, 'num_il_tl'),
 (0.008690878088153095, 'num_actv_rev_tl'),
 (0.008662985864348214, 'inq_fi'),
 (0.008600269649289328, 'mo_sin_rcnt_tl'),
 (0.008549376600640562, 'acc_open_past_24mths'),
 (0.008496151229255892, 'open_il_24m'),
 (0.008137842471710642, 'open_acc'),
 (0.007756597817136973, 'total_cu_tl'),
 (0.007395408372616129, 'num_tl_op_past_12m'),
 (0.007167076215698184, 'num_bc_sats'),
 (0.00715715120263663, 'num_actv_bc_tl'),
 (0.007030042773562192, 'open_act_il'),
 (0.006877011762792854, 'percent_bc_gt_75'),
 (0.0066055968150619425, 'open_acc_6m'),
 (0.006157251882351968, 'inq_last_6mths'),
 (0.006021495324632839, 'open_rv_24m'),
 (0.005557746430652588, 'open_il_12m'),
 (0.004999194458544024, 'open_rv_12m'),
 (0.004808231886201055, 'num_accts_ever_120_pd'),
 (0.004656707299537489, 'delinq_2yrs'),
 (0.004379785203676273, 'tot_coll_amt'),
 (0.004287174044576357, 'next_pymnt_d_May-2019'),
 (0.004283485672791835, 'mort_acc'),
 (0.0025880378183191486, 'next_pymnt_d_Apr-2019'),
 (0.002511792005912107, 'application_type_Individual'),
 (0.002400727630140666, 'home_ownership_MORTGAGE'),
 (0.002343143336376409, 'application_type_Joint App'),
 (0.002102316122891845, 'home_ownership_RENT'),
 (0.001835277810134352, 'home_ownership_OWN'),
 (0.0018201843291709794, 'initial_list_status_f'),
 (0.0017958810060539716, 'pub_rec'),
 (0.0015580746632612675, 'pub_rec_bankruptcies'),
 (0.001531119419232297, 'verification_status_Not Verified'),
 (0.0014586164946636877, 'verification_status_Verified'),
 (0.001285479768650014, 'num_tl_90g_dpd_24m'),
 (0.0009528564547884995, 'initial_list_status_w'),
 (0.0009311712871603981, 'verification_status_Source Verified'),
 (0.00036599839154190955, 'collections_12_mths_ex_med'),
 (0.0002470039574747757, 'home_ownership_ANY'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [19]:
#!pip install scikit-learn==0.24.1

In [20]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
easy= EasyEnsembleClassifier(n_estimators=100, random_state=1).fit(X_train, y_train)

In [21]:
# Calculated the balanced accuracy score
y_pred2 = easy.predict(X_test)

bacc2 = (balanced_accuracy_score(y_test, y_pred2))
acc2 = accuracy_score(y_test,y_pred2)
print('Balanced Accuracy Score: ' + str(round(bacc2, 4)))
print('Accuracy Score: ' + str(round(acc2, 4)))

Balanced Accuracy Score: 0.9319
Accuracy Score: 0.9429

In [22]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred2)

array([[   93,     8],
       [  974, 16130]])

In [23]:
cmtx2 = pd.DataFrame(
    confusion_matrix(y_test, y_pred2, labels=['high_risk', 'low_risk']), 
    index=['Actual High Risk', 'Actual Low Risk'], 
    columns=['Predicted High Risk', 'Predicted Low Risk']
    )
print(cmtx2)

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   93                   8
Actual Low Risk                   974               16130

In [24]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred2))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205

In [26]:
print('Easy Ensemble AdaBoost Classifier')
print('')
print('Balanced Accuracy Score: ' + str(round(bacc2, 4)))
print('Accuracy Score: ' + str(round(acc2, 4)))
print('')
print(cmtx2)
print('')
print(classification_report_imbalanced(y_test, y_pred2))

Easy Ensemble AdaBoost Classifier

Balanced Accuracy Score: 0.9319
Accuracy Score: 0.9429

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   93                   8
Actual Low Risk                   974               16130

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205